@model Fashison_eCommerce.ViewModel.ProductViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Seller/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Assets/Seller/css/FilterForm.css" rel="stylesheet" />
<link href="~/Assets/Seller/css/Imagefile.css" rel="stylesheet" />
<link href="~/Assets/Seller/css/displayimg.css" rel="stylesheet" />
@using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Tên sản phẩm</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.product.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.product.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Giá</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.product.Price, new { htmlAttributes = new { @class = "form-control", @min = "1000" } })
                @Html.ValidationMessageFor(model => model.product.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Số lượng</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.product.Amount, new { htmlAttributes = new { @class = "form-control", @min = "1" } })
                @Html.ValidationMessageFor(model => model.product.Amount, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">Loại</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.product.TypeID, (SelectList)ViewBag.TypeID, "Select one", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.product.TypeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">Hình ảnh sản phẩm</div>

            <div class="col-md-4">
                @*<div class="btn btn-primary">
                        <input type="file" name="file" id="file" required accept="image/*"/>
                    </div>*@
                <div class="file btn btn-lg btn-primary" id="img">
                    Select image
                    <input type="file" name="file" id="file" accept="image/*" />
                </div>
                <hr />

                <div id="imgPreview" class="thumbnail" style="display:none">
                    <img class="img-responsive" id="targetImg" />

                </div>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Mô tả sản phẩm</label>
            <div class="col-md-10">

                @Html.TextAreaFor(model => model.product.Decription, new { @cols = "100", @rows = "8", @style = "width:100%;" })
                @Html.ValidationMessageFor(model => model.product.Decription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Thương hiệu</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.product.BrandID, (SelectList)ViewBag.BrandID, "Select one", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.product.BrandID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@Scripts.Render("~/bundles/jqueryval")