

@model Fashison_eCommerce.ViewModel.AddressViewModel
<script src="~/UserScripts/EditAddress.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <div id="table-address" style="height: 100%; max-height: 800px; max-width: 300px; display: contents;">
        <table class="table table-hover" >
            <thead>
                <tr>
                    <th scope="col">Họ và tên</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Địa chỉ</th>

                </tr>
            </thead>
            <tbody >
                @foreach (var item in ViewBag.listAddresses)
                {
                <tr>
                    <td scope="col">@item.full_name</td>
                    <td scope="col">@item.phone</td>
                    <td scope="col">@item.address</td>
                    @if (item.default_address == 1)
                    {
                        <td scope="col" style="color:orangered;">Mặc định</td>
                       
                    }
                    else
                    {
                        <td scope="col"></td>

                    }
                    <td>
                        <div id="address">
                           @if (item.default_address == 0) 
                           {
                               <button type="button" id="btndefault"  class="btn btn-info btn" data-id="@item.Address_ID" data-name="@item.full_name" data-phone="@item.phone" data-address="@item.address">
                                   Mặc định
                                </button> 
                            } 
                             <button type="button" id="btnedit" class="btn btn-info btn" data-toggle="modal" data-target="#edit-modal" name="Modal" data-id="@item.Address_ID" data-name="@item.full_name" data-phone="@item.phone" data-address="@item.address" data-default="@item.default_address" Open modal for @item.full_name @item.phone @item.address>Sửa</button>  <button type="button" id="btnDelete" class="btn btn-info btn" data-id="@item.Address_ID">Xóa</button>

                        </div>
                    </td>


                </tr>
                }
            </tbody>
        </table>
    </div>

    <div id="edit-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3>Sửa địa chỉ</h3>
                </div>
                <form id="editForm" name="address" role="form">
                    <div class="modal-body">
                        <div class="form-group" style="display:none">
                            <input type="number" id="addressid"/>
                            <input type="number" id="addressdefault"/>
                        </div>
                        <div class="form-group">
                            <label for="name">Họ và tên</label>
                            @Html.EditorFor(model => model.address.full_name, new { htmlAttributes = new { @class = "form-control", @id = "Name" } })
                        </div>
                        <div class="form-group">
                            <label for="phone">Số điện thoại</label>
                            @Html.EditorFor(model => model.address.phone, new { htmlAttributes = new { @class = "form-control", @id = "Phone" } })
                        </div>
                        <div class="form-group">
                            <label for="Address">Địa chỉ</label>
                            @Html.EditorFor(model => model.address.address1, new { htmlAttributes = new { @class = "form-control", @id = "Addresss" } })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Trở lại</button>
                        <input type="submit" class="btn btn-primary" id="editForm" value="Hoàn thành">
                    </div>
                </form>
            </div>
        </div>
    </div>
