@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var user = ViewBag.User;
}


@{Html.RenderPartial("Sidebar", "User");}

<div style=" float: right; background-color: white; height: 100%; max-height: 900px; max-width: 850px; width: 100%;">
    <div style="width: 800px!important; max-height: 30px; display: contents; margin-left: 5px; margin-bottom: 10px;">
        <h4 style="margin-left: 5px;">My profile</h4>
        <p style="margin-left: 5px;">Manage profile to secure your account</p>
    </div>
    <div style="float:right; vertical-align: middle; min-width: 200px; margin-right: 60px; margin-right: 40px; ">
        <img id="picUpload" name="picUpload" width="200" border-radius="50%" src="~/User_Images/@user.Avatar" />
    </div>
    <div style="height: 100%; max-height: 800px; max-width: 300px; display: contents;">
        <form style="max-width: 300px;margin-left:20px;" action="/User/UserProfile">
            <div class="form-group">
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Name</label>
                    <input id="Name" type="text" class="form-control" name="Name" value="@user.Name" readonly>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input id="Email" type="email" class="form-control" name="Email" value="@user.Email" readonly>
                </div>
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input id="Address" type="text" class="form-control" name="Address" value="@user.Address" readonly>
            </div>
            <div class="form-group">
                <label for="inputAddress">Gender</label>
                <input id="Gender" type="text" class="form-control" name="Address" value="@user.Gender" readonly>
            </div>
            <div class="form-group">
                <label for="inputAddress">Birthday</label>
                <input type="text" id="start" class="form-control" name="Date" value="@ViewBag.birthday" readonly>
            </div>
            <div class="form-group">
                <label for="inputAddress">Phone</label>
                <input id="Phone" type="text" class="form-control" name="Phone" value="@user.Phone" readonly>
            </div>
         
        </form>
    </div>
</div>





@*@{
        ViewBag.Title = "UserProfile";
        Layout = "~/Views/Shared/_UserLayout.cshtml";
    }


    @{Html.RenderPartial("Sidebar", "User");}

    <div style=" float: right; background-color: white; height: 100%; max-height: 900px; max-width: 850px; width: 100%;">
        <div style="width: 800px!important; max-height: 30px; display: contents; margin-left: 5px; margin-bottom: 10px;">
            <h4 style="margin-left: 5px;">My profile</h4>
            <p style="margin-left: 5px;">Manage profile to secure your account</p>
        </div>
        <div style="float: right; vertical-align: middle; min-width: 200px;">
            <img src="~/User_Images/" alt="ava" />
            <button>Change</button>
        </div>
        <div style="height: 100%; max-height: 800px; max-width: 300px; display: contents;">
            <form style="max-width: 300px;margin-left:20px;">
                <div class="form-group">
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Username</label>
                        <input type="text" class="form-control" id="inputPassword4">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Address 2</label>
                    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="inputZip">Zip</label>
                        <input type="text" class="form-control" id="inputZip">
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck">
                        <label class="form-check-label" for="gridCheck">
                            Check me out
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </div>
    </div>*@

