
@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<style>
    /*.List .table td, .table th
    {
        padding: 0.25em !important;
    }*/
    .List .table a.btn-sm
    {
        font-size: 1.15rem;
    }
</style>

<h2>OrderList</h2>
<div class="List">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Full Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Description</th>
                <th scope="col">Payment</th>
                <th scope="col">Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var order in ViewBag.listOrder)
                {
                    if ((order.status == 2) || (order.status == 3))
                    {
                        <tr>
                            <td scope="row">@order.Order_ID</td>
                            <td>@order.full_name</td>
                            <td>@order.address</td>
                            <td>@order.phone</td>
                            <td>@order.decription</td>
                            <td>@order.payment</td>
                            <td>@String.Format(info, "{0:C0}", @order.Total_Order)</td>
                            <td><a href="#" class="btn-sm" data-id="@order.Order_ID" data-status=@((order.status)+1) style="background-color:#5fcb71; color:white;">
                                @((order.status == 2) ? "Giao hàng" :
                                (order.status == 3) ? "Đang giao" : "")
                                </a>
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
<script>
    var user = {
        init: function () {
            console.log("init");
            user.registerEvents();
        },
        registerEvents: function () {
            $('.btn-sm').off('click').on('click', function (e) {
                e.preventDefault();
                var id = $(this).data('id')
                var status = $(this).data('status')
                console.log(id);
                $.ajax({
                    url: "/Shipper/Shipper/ChangeStatus",
                    data: {
                        id: id,
                        status: status
                    },
                    type: 'POST',
                    async: true,
                    success: function (msg) {
                        location.reload();  
                    }
                });
            });
        }
    }
    user.init();
</script>

