@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<div class="container-fluid">
    <table class="table table-striped orders" id="order_delivered" style="width: 100%;">
        <thead>
            <tr id="list-header">
                <th scope="col">Khách hàng</th>
                <th scope="col">Mã hóa đơn</th>
                <th scope="col">Phí Ship</th>
                <th scope="col">Ngày tạo</th>
                <th scope="col">Trạng thái đơn hàng</th>
                <th scope="col">Ghi chú</th>
                <th scope="col">Địa chỉ giao hàng</th>
                <th scope="col">Tổng giá trị đơn hàng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.listOrder_Delivered)
            {
                <tr>
                    <td>@item.Name</td>
                    <td><a href="@Url.Action("Detail","Orders", new { id = item.Order_ID })">@item.Order_ID</a></td>
                    <td>@String.Format(info, "{0:C0}", item.delivery)</td>
                    <td>@item.created_date</td>
                    <td>@item.status</td>
                    <td>@item.decription</td>
                    <td>@item.address</td>
                    <td>@String.Format(info, "{0:C0}", item.Total_Order)</td>
                </tr>
            }
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" id="btnReloadData">Reload data</button>
</div>
