@model IEnumerable<Fashison_eCommerce.Models.MainType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutTable.cshtml";
}
<!-- DataTales Example -->
<div class="card-header py-3 bg-white" style="height: 80px;">
    <h5 class="m-0 font-weight-bold text-dark" style="display: inline; float: left; padding-top: 6px">Types Database</h5>
    <!-- Refresh Databa -->
    <div style=" padding-left: 5%; display: inline; width: 15%; float: left">
        <button onclick="resetFunc()" type="button" class="btn btn-danger" title="Reload" style="background-color: #f5c6cb; color: #1d2124">
            Refesh Data
        </button>
    </div>
    <!-- Button to Open the Modal - Add type -->
    <button type="button" class="btn btn-success" style="width: 15%; display:inline; float: right;" data-toggle="modal"
            data-target="#addtype">
        <i class="fa fa-plus mr-2"></i> Add Type
    </button>

    <!-- Add-type The Modal -->
    <div class="modal" id="addtype">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Type</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="../Types/Create" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label asp-for="addID">ID :</label>
                            <input type="text" id="addID" class="form-control" name="id">
                            <span asp-validation-for="ID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="addName">Name :</label>
                            <input type="text" id="addName" class="form-control" name="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-success">Add</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="table-responsive bg-white">
        <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in ViewBag.type)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.Name</td>
                        <td>
                            <button type="button" class="btn btn-primary" title="Edit"
                                    onclick="Edittype(@item.ID)">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-danger" title="Delete" onclick="DeleteFunction(@item.ID)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal hide fade" id="edit-person">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="edit-person-container"></div>
        </div>
    </div>
</div>

<script>
    function resetFunc() {
        location.reload();
    };

    //Function Delete
    function DeleteFunction(e) {
        e.preventDefault
        if (confirm('Do you want to Delete this type from your Database?')) {
            console.log("123", e)
            $.ajax({
                data: {
                    id: e
                },
                type: 'POST',
                url: "/Admin/Types/Delete",
                async: true,
                success: function (msg) {
                    //alert(msg);
                }
            });
            alert('Deleted');
        } else {
            // Do nothing!
            alert('Thing was not deleted from your database.');
        }
    };
    function Edittype(e) {
        var url = "/Admin/Main_Type/Edit"; // the url to the controller
        var id = e; // the id that's given to each button in the list
        $.get(url + '/' + id, function (data) {
            $('#edit-person-container').html(data);
            $('#edit-person').modal('show');
        });
    };

    function OrderDetailForeach(e) {
        alert("abc");
        alert(e);
    };

</script>
