@model Fashison_eCommerce.ViewModel.AddressViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<script src="~/Assets/Buyer/CreateAddress.js"></script>

@section CustomStyles{
    <link href="~/Assets/Buyer/CustomStyles.css" rel="stylesheet" />
    <link href="~/Assets/Buyer/Address.css" rel="stylesheet" />
    <link href="~/Assets/Buyer/bundle.css" rel="stylesheet" />
}


@*@{var address_ID = 1; }*@
<div class="loadAll">
    <div id="mainBody">
        <!--========Address checkout-->
        <div class="loadAddress">

        </div>
        @{ var Current_AddressID = Session["Address_ID"];}
        <div class="product_List">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
                        string shop_list = "";
                        string delivery_list = "";
                        var total = 0;
                        var total_cost = 0;
                        var total_delivery = 0;
                        foreach (var shop in ViewBag.Shops)
                        {
                            <tr>
                                <td colspan="4"> @*Shop name @shop*@ Shop @{Html.RenderAction("GetShop", "CartCheckout", new { id = shop });}</td>
                            </tr>
                            var total_By_Shop = 0;
                            var count = 0;
                            var delivery = 12000;
                            shop_list += Convert.ToString(shop) + " ";
                            delivery_list += Convert.ToString(delivery) + " ";
                            foreach (var item in ViewBag.Items)
                            {
                                if (item.Store_ID == shop)
                                {
                                    var temp = @item.Price * @item.Quantity;
                                    <tr>
                                        <td> <img style="height: 100px; width: 100px;" src="~/Product_Images/@item.Pictures" alt="product img" /> @item.Name </td>
                                        <td style=" vertical-align:middle"> @String.Format(info, "{0:C0}", item.Price)</td>
                                        <td style=" vertical-align:middle"> @item.Quantity </td>
                                        <td style="vertical-align:middle"> @String.Format(info, "{0:C0}", temp)</td>
                                    </tr>
                                    total_By_Shop += temp;
                                    count += 1;
                                }
                            }
                            total_cost += total_By_Shop;
                            total_delivery += delivery;
                            total_By_Shop += delivery;
                            total += total_By_Shop;
                            <tr>
                                <td colspan="1"> </td>
                                <td style="color:darkcyan">
                                    <br />
                                    Đơn vị vận chuyển
                                </td>
                                <td>
                                    <div style="max-width:300px !important">
                                        <strong>Vận chuyển nhanh</strong>
                                        <p style="max-width:300px !important">Giao hàng nhanh <a style="float: right" href="#">CHANGE</a> </p>
                                    </div>
                                </td>
                                <td style="vertical-align:middle"> @String.Format(info, "{0:C0}", delivery) </td>
                            </tr>
                            <tr>
                                <td colspan="2">  </td>
                                <td style="color: dimgray; vertical-align:middle"> Total cost (@count item(s))</td>
                                <td style=" vertical-align:middle"><strong>@String.Format(info, "{0:C0}", total_By_Shop)</strong>  </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="Total">
            <h3>Payment method </h3>
            <div class="radio">
                <label><img src="~/Assets/Buyer/cod.svg" style="width: 70px;height:50px;" alt="cod" /><input type="radio" name="payment" value="cod" checked>Thanh toán khi nhận hàng</label>
            </div>
            <div class="radio">
                <label><img src="~/Assets/Buyer/paypal.svg" style="margin-right:10px;" alt="cod" /><input type="radio" name="payment" value="paypal" >Thanh toán bằng PayPal</label>
            </div>
        </div>
        <div class="Total">
            <div style="">
                <table class="table ">
                    <tbody>
                        <tr>
                            <td colspan="2">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</td>
                            <td> Total cost: </td>
                            <td style="text-align:right;">@String.Format(info, "{0:C0}", total_cost)</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td> Total delivery:</td>
                            <td style="text-align:right;"> @String.Format(info, "{0:C0}", total_delivery)</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td> TOTAL: </td>
                            <td style="text-align:right;color:orangered;font-size:x-large"> @String.Format(info, "{0:C0}", total)</td>
                        </tr>
                    </tbody>
                </table>
                <button style="color: white; background-color: coral; float: right; min-width:200px; min-height:38px; margin-right: 30px; font-size:larger;" id="checkout">
                    Checkout
                </button>
            </div>
        </div>
    </div>

</div>
    

<script>


    var user = {
        init: function () {
            user.checkout();
        },
         checkout: function () {
             $('#checkout').on('click', function (e) {
                 var address = @Current_AddressID;
                 if (address !== -1) {
                     var shop_List = new String("@shop_list");
                     var delivery_List = new String("@delivery_list");
                     var payment = document.querySelector('input[name="payment"]:checked').value;
                     if (payment === "paypal") {
                         $.ajax({
                             url: "/Buyer/Paypal/Index",
                             type: 'POST',
                             data: {
                                 shop_List: shop_List,
                                 delivery_List: delivery_List
                             },
                             success: function (msg) {
                                 if (msg === "OK") {
                                     window.location.href = "/Buyer/Paypal/PaymentWithPaypal";
                                 }
                                 else {
                                     alert(msg);
                                     window.location.href = "/Buyer/UserCart";
                                 }
                             }
                         });
                     }
                     else {
                         $.ajax({
                             url: "/Buyer/CartCheckout/Checkout",
                             type: 'POST',
                             data: {
                                 shop_List: shop_List,
                                 delivery_List: delivery_List
                             },
                             success: function (msg) {
                                 if (msg === "Success!!!") {
                                     alert('Mua hàng thành công');
                                     window.location.href = "/User/Purchase";
                                 }
                                 else {
                                     alert(msg);
                                     window.location.href = "/Buyer/UserCart";
                                 }

                             }
                         });
                     }
                 }
                 else {
                     alert("Vui lòng thêm địa chỉ giao hàng");
                 }

                
            });
        },
    }
    user.init();
    $.ajax({
        // load cac san pham
        url: "/Buyer/CartCheckout/GetUserAddress",
        success: function (result) {
            $(".loadAddress").html(result);
        }
    });
</script>


