@model IEnumerable<Fashison_eCommerce.Models.Store>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Seller/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShopName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Decription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pictures)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coverpics)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShopName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Decription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pictures)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Coverpics)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Store_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Store_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Store_ID })
        </td>
    </tr>
}

</table>
